GITLAB_URL=https://gitlab.com
GITLAB_CLIENT_ID=Application_ID
GITLAB_OAUTH_CONFIDENTIAL=false
GITLAB_REDIRECT_URI=http://localhost:8000/auth/callback
PORT=8000
ZAMMAD_URL=https://soporte.gruposorah.com
ZAMMAD_TOKEN=PEGAR_TOKEN_AQUI
ZAMMAD_GROUP_ID=1
ZAMMAD_PORTAL_USER_ID=10
SUPPORT_QA_USERNAMES=qa.usuario